.btn {
  flex-shrink: 0;
  min-width: 12.8rem;
  height: 4.9rem;
  padding: 0 1.6rem;
  background-color: $color-secundari;
  border: 0.4rem solid $color-primari;
  border-radius: 1.2rem;
  color: $color-blanc;
  font-family: $font-cos;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-primari;
  }
}