.btn {
  flex-shrink: 0;
  width: 128px;
  height: 49px;
  padding: 0 16px;
  background-color: $color-secundari;
  border: 1px solid $color-primari;
  border-radius: 12px;
  color: $color-blanc;
  font-family: $font-boto;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-primari;
  }
}
