.header {
  padding: 2rem 4rem 0;

  &__logo {
    @include centrar-element;
    @include caixa;
    padding: 1rem 2rem;
  }

  &__logo-img {
    display: block;
    height: 4.4rem;
    width: auto;
  }
}