@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}