// Variables per als colors
$color-primary: #7bc6eb;
$color-secondary: #a6daf4;
$color-light: #eaf8ff;
$color-white: #ffffff;

// Variables per a tipografies
$font-heading: 'Syne', sans-serif;
$font-body: 'IBM Plex Mono', monospace;