$color-primary: #00b2ff;
$color-secondary : #0c1e27;
$color-tertiary: #eaf8ff;

$font-heading: 'Helvetica Neue', sans-serif;
$font-body: 'Arial', sans-serif;

//el tipo de fuente es tipo google fonts, ya se pondrá

